* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.connexion-global-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.img-container {
    background-image: url('../../assets/busstop.jpg');
    background-size: cover;
    width: 663px;
    height: 490px;
    border-radius: 25% 10%;
    animation: slideIn;
    animation-direction: normal;
    animation-duration: 3s;
}

@keyframes slideIn {
    from {
      transform: translate(-850px, 0px);
    }
    to {
      transform: translate(0px, 0px);
    }
  }

.formulaire-connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    padding: 10px;
    box-shadow: 5px 12px 15px 1px black;
    background-color: whitesmoke;
    animation-name: slideInTwo;
    animation-direction: normal;
    animation-duration: 3s;
}

@keyframes slideInTwo {
    from {
      transform: translate(850px, 0px);
    }
    to {
      transform: translate(0px, 0px);
    }
  }

.formulaire-connexion > h2 {
    font-size: 4rem;
    margin-bottom: 25px;
}

.input-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    margin-bottom: 20px;
}

.formulaire-connexion input {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none ;
    background: none;
    padding: 0.5rem 0.7rem;
    border-bottom: 2px solid #d9d9d9;
}

#firstname, #lastname, #email, #password {
    width: 300px;
}

.formulaire-connexion input:focus{
    border-bottom: 2px solid #f2f307;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forgot-password {
    border: 0px;
    background-color: transparent;
    align-self: flex-end;
    margin-bottom: 20px;
}

#forgot-password:hover {
    cursor: pointer;
    color: #f2f307;
}

#connexion-login {
    width: 300px;
    height: 35px;
    border-radius: 15px;
    border: 0px;
    color: #f2f307;
    text-transform: uppercase;
    margin-bottom: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,16,29,1) 35%, rgba(32,42,128,1) 100%);
    background-size: 200%;
    cursor: pointer;
    transition: .5s;
}

#connexion-login:hover {
    background-position: right;
}

#retour {
    width: 300px;
    height: 35px;
    border-radius: 15px;
    border: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,16,29,1) 35%, rgba(32,42,128,1) 100%);
    background-size: 200%;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
}

#retour span {
    color: #f2f307;
    text-transform: uppercase;
}

#retour:hover {
    background-position: right;
}

@media screen and (max-width: 1300px){
    .img-container {
        flex-shrink: 5;
        margin-left: 15px;
        margin-right: 15px;
    }
    .formulaire-connexion {
        margin-right: 25px;
    }
    
}

@media screen and (max-width: 750px) {
    .img-container {
        display: none;
    }

    .formulaire-connexion {
        animation: none;
    }

    .connexion-global-container {
        justify-content: center;
    }
    
}