* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.velhop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f3f4;
}

.velhop-presentation {
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-image: url("../../assets/bikescopie.jpg");
    background-size: cover;
    color: white;
    margin-bottom: 3rem;
}

.velhop-presentation h2 {
    font-size: 6rem;
    padding-top: 3%;
}

.velhop-presentation p {
    font-size: 4rem;
    color: rgb(255, 255, 5);
    padding-top: 2rem;
    font-weight: bold;

}

.velhop-container h3 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 1rem;
}

#logostation {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.choice-station-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice-station {
    width: 47%;
    height: 50px;
    font-size: 30px;
    margin-bottom: 3.5rem;
    
}

.station-card-item {
    height: auto;
    width: 300px;
    padding: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    text-align: center;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    color: #333;
}

@media screen and (max-width: 650px){
    .velhop-presentation {
        display: none;
    }

    .velhop-container h3 {
        font-size: 2rem;
        color: #333;
        margin: 2rem auto;
        max-width: 70%;
    }
    
    .choice-station {
        max-width: 80%;
        width: 75%;
        font-size: 20px;
        margin-bottom: 5rem;
    }
}