.hide {
  display: none;
}

.myDIV{
  padding: 6px 6px 6px 6px;
  text-align: center;
}

.myDIV:hover + .hide {
  display: inline-flex;
  width:90px;
  text-align: center;
}

.zoom {
    transition: transform .5s;
    text-align: center;
}
  
  .zoom:hover {
    -ms-transform: scale(2); 
    -webkit-transform: scale(2); 
    transform: scale(2); 
    z-index:10 ;
    background: black;
    color: whitesmoke;
    text-align: center;
    
  }

  .maps-veloparc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 30px;
    flex-direction: column;
    padding-bottom: 20px;  
    border-radius: 30px 30px 0px 0px,
}
 
.contenu {
    width: 70%;
    height: 90vh;
    border-radius : 30px;
    margin:auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#text {
    font-size: 20px;
    text-align: center;
    line-height: 90px;
    font-style: italic;
    color:#11101D;
    margin-bottom: 10px;
}