
.maps-veloparc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: column;
    padding-bottom: 20px;  
}
.contenu {
    width: 70%;
    height: 90vh;
    border-radius : 30px;
    margin:auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
    
}
#text {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color:darkblue;
}
 
#test {
    line-height:50px;
    margin: 20px;
} 

/* CSS PR Hurkan */

.parking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.parking-container > h3 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 3rem;
}
.veloparcpresentation {
    height: 100vh;
    width: 100vw;
    text-align: center;
    /* background-image: url(../../assets/Parking.jpg); */
    background-image: url(../../assets/Veloparc.jpg);
    background-size: cover;
    color: white;
    margin-bottom: 3rem;
}
.veloparcpresentation h2 {
    font-size: 6rem;
    padding-top: 3%;
}
.veloparcpresentation p {
    font-size: 4rem;
    color: rgb(255, 255, 5);
    padding-top: 2rem;
    font-weight: bold;
}
.parking-card-item {
    height: 350px;
    width: 250px;
    padding: 15px;
    border: solid black 1px;
    text-align: center;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    color: #333;
}
.choice-park {
    width: 100%;
    height: 50px;
    font-size: 30px;
    margin-bottom: 5rem;
}
.choice-park-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.veloparcimage-video{
    height: 100px;
    width: 100px;
    background: url(../../assets/iconeveloparc.png);
    background-size: cover;
    margin-bottom: 3rem;
}