@import "./components/Parking-relais.css";
@import "./components/Véloparc.css";
@import "./components/Plan-et-lignes.css";
@import 'boxicons';
@import './components/Points-de-vente.css';
@import './components/Velhop.css';
@import './components/Itineraire.css';
@import './components/VeloparcMaps.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

